.bord{
	border: solid 1px black;
}
.elem1{
	margin-bottom: 2em;
}
.elem2{
	margin-bottom: 30px;

}
.wide{
	max-width: 920px;
}
.break{
	word-wrap: break-word;
}
.yellow-text{
	color: #ffcc00;
	font-size: 25px;
}
.gap{
	margin-top: 30px;
	margin-bottom: 20px;
}
.logo{
	max-height: 70px;
}
.elem2 a{
	font-size: 12px;
}







